<div class="container">
    <h1>Body Shop</h1>
    <div class="row flex-wrap">
        <div class="col-md-6">
            
            <p>
                We know how much pride you take in your vehicle. Let us make your ride look 
                amazing. No matter whether you need minor maintenance or major repairs, our 
                body shop can provide you with exceptional service to get your vehicle back 
                into prime condition. We will also work closely with your insurance and rental 
                car agencies to minimize your inconvenience and maximize satisfaction.
            </p>
            
            <p>
                The following is a snapshot of many of the services available at Columbia 
                Auto Center:
            </p>
            <ul>
                <li>We work with all insurance companies</li>
                <li>Rental cars will meet you right at our shop</li>
                <li>Free estimates</li>
                <li>24 Hour Towing (410-740-8822)</li>
                <li>Local area shuttle service</li>
                <li>Certified technicians working on your vehicle</li>
                <li>Comprehensive body repair services</li>
                <li>Computerized frame / Unibody straightening</li>
                <li>Lifetime refinishing / Paint work</li>
                <li>Windshield and glass work</li>
                <li>Maryland State Inspection service</li>
                <li>Alcolock installation</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/img/spray1.jpg" alt="Spray 1" class="img-fluid">
            <!-- <img src="../../../assets/img/body1.jpg" alt="Spray 2"> -->
        </div>
    </div>
</div>

