<!-- <div id="top">
  <div id="navlogo">
      <img src="../../assets/img/logo.png" alt="logo" routerLink="/home">
      <div class="container">
        <nav>
          <a routerLink="/home" routerLinkActive="active">Home</a>
          <a routerLink="/about" routerLinkActive="active">About</a>
          <a routerLink="/team" routerLinkActive="active">Team</a>
          <a routerLink="/body-shop" routerLinkActive="active">Body Shop</a>
          <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
        </nav>
      </div>
     
  </div>
</div> -->
<!-- <div class="container"> -->
<!-- <nav class="navbar navbar-expand-lg">
  <a href="#" class="navbar-brand">
    <img src="../../assets/img/100w/200w/Artboard 1.png" alt="logo" routerLink="/home">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <fa name="bars"></fa>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/body-shop" routerLinkActive="active">Services</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/team" routerLinkActive="active">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg">
    <a href="#" class="navbar-brand">
      <img src="../../assets/img/logo2.png" alt="logo" routerLink="/home">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <fa name="bars"></fa>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/body-shop" routerLinkActive="active">Services</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/team" routerLinkActive="active">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
<!-- </div> -->
  <!-- </div> -->


<div id="space"></div>w

<router-outlet></router-outlet>
<!-- <router-outlet name="popup"></router-outlet> -->

<div id="footer" class="flex-sm-fill text-sm-center">
  <p>© 1990 - 2018 Columbia Auto Body. All Rights Reserved.</p>
</div>