<div class="container">
    <h1>Our Team</h1>
    <div class="row flex-wrap">
        <div class="col">
            <img src="../../../assets/img/team1.jpg" alt="Sary">
        </div>
        <div class="col-lg-8">
            <h5>Sary Chan - Service Advisor</h5>
            <p>
                Sary has been in the business of auto collision for 20+ years, both as a 
                technician and as an estimator. Sary has worked with Columbia Auto Body 
                for the last 10 years and is I-Car Platinum certified. With his experience, 
                training and outstanding customer service Sary will ensure a professional 
                repair.
            </p>
        </div>
    </div>
    <div class="bar"></div>
    <div class="row flex-wrap">
        <div class="col">
            <img src="../../../assets/img/team2.jpg" alt="Erfan">
        </div>
        <div class="col-lg-8">
            <h5>Erfan Ahmadi- Service Manager</h5>
            <p>
                Erfan grew up in the automotive business, constantly working with 
                vehicles in one way or another. A member of Columbia Auto Body since 
                2010, Erfan will work with you to make sure all of your needs are 
                addressed and all of your questions answered in an extremely 
                professional manner.
            </p>
        </div>
    </div>
    <div class="bar"></div>
    <div class="row flex-wrap">
        <div class="col">
            <img src="../../../assets/img/team3.jpg" alt="Leo">
        </div>
        <div class="col-lg-8">
            <h5>Leo Morissette- Service Manager</h5>
            <p>
                Leo’s customer service is second to none. Raised in a family of 
                mechanics and estimators, he has always been involved with the 
                repair industry. A member of the Columbia Auto team since 2012, 
                Leo has worked with vehicles for the last 10 years as a mechanical 
                technician, retail parts associate, and as an estimator.
            </p>
        </div>
    </div>
</div>
