
<div class="container">
  <h1>Contact Us</h1>
  <div class="row flex-wrap">
    <div class="col-md-6" style="margin-left:0px">
      
      <p>
          We’d love to hear from you. If you would like to set an appointment for 
          your vehicle, give us a call any time. Also, use us as your friendly, 
          local source of vehicle information: feel free to contact us if you have 
          a question about your vehicle. Or if you’ve recently been a customer of 
          ours, send us a message and let us know how your experience was. We look 
          forward to hearing from you!
      </p>
      <ul>
          <li><fa name="phone"></fa>Mon – Fri: 8 AM – 6 PM | Sat: 9 AM – 1 PM</li>
          <li><fa name="phone"></fa>(410) 730-1050</li>
          <li><fa name="fax"></fa>(410)-740-1974</li>
          <li><fa name="home"></fa>6465 Dobbin Center Way, Columbia, MD 21045</li>
        </ul>
      <p>
          When you visit us, please find a parking space in front of our office. 
          If each of these spaces happens to be full, then feel free to drive around 
          behind our office where additional parking is available. If you have any 
          trouble finding us please call 410-730-1050.
      </p>
      <h3><a href="https://www.facebook.com/Columbia-Auto-Body-463656603801610"></a></h3>
    </div>
    <div class="col-md-6">
        <iframe width="600" height="450" frameborder="0" style="border:0; width: 100%" class="d-none d-sm-block"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJwb24FHngt4kR8AMpdZpj1Pk&key=AIzaSyADnFsu1NhdBtAcSuhrayk4BMh6_OIKze0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row justify-content-center">
            <figure>
                    <img src="../../../assets/img/contact1.jpg" alt="call" class="img-fluid">
              </figure>
         
  </div>
</div>
