<div id="main" class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>About Us</h1>
            <p>
            The story of our auto shop begins and ends with putting customers first. 
            We want to earn your trust and respect. In turn, we hope to build a long-lasting 
            relationship where you are not just a customer – but part of a family of 
            customers for life.
            </p>
        
            <p>
                We opened in 1985 as a repair facility. As we continued 
                to earn the trust of our customers, we expanded into an auto mechanical 
                repair facility.
            </p>
        
            <p>
                We employ more than a dozen certified technicians who are thoroughly trained 
                on domestic and foreign vehicles. The majority of our technicians have more 
                than 10 years of experience, and our elite training and superior service 
                enables our mechanics to keep up with the most relevant solutions to your 
                vehicle needs.
            </p>
            <div class="d-none d-sm-block">

            <p>
                We pride ourselves on customer service with our front-end office staff who 
                will keep you informed every step of the way. Our staff will explain 
                specifically what needs to be done to your vehicle and what preventative 
                maintenance can be done to avoid costly repairs in the future.
            </p>
        
            <p>
                Our experienced technicians manage the entire repair process, making sure no 
                detail is overlooked and your vehicle is repaired correctly the first time. 
                We guarantee our work and make sure your vehicle is safe to drive when it 
                leaves the shop.
            </p>
        
            <p>
                We focus on providing high-quality service at extremely competitive and 
                honest prices. We also focus on educating our customers on what they can 
                do as owners to keep their vehicles in tip-top condition.
            </p>
        
            <p>
                It has been a privilege to work within the Columbia community for nearly 30 
                years, and we are looking forward to helping our customers get back on the 
                road quickly and safely.
            </p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="../../../assets/img/RIMG5620-555x416.jpg" alt="" class="img-fluid">
            <img src="../../../assets/img/body1.jpg" alt="" class="d-none d-sm-block img-fluid">
            <img src="../../../assets/img/IMG_2069.JPG.jpeg" alt="" class="d-none d-sm-block img-fluid">
        </div>
    </div>
   

    <h2>Why Choose Us:</h2>

    <ul>
    <li>We provide the most up-to-date training and diagnostic equipment for our 
        technicians that will be working on your vehicle</li>
    <li>We provide competitive estimates</li>
    <li>We do a free safety inspection to uncover potential problems</li>
    <li>Maryland State Inspection Service and I-CAR & ASE Certified technicians</li>
    <li>We provide a free shuttle service for you or offer a ride to work within a 10-mile radius</li>
    <li>We will provide references – a list of customers who can vouch for our work</li>
    <li>We guarantee our work with a one year or 12,000- mile warranty</li>
    <li>We will keep you informed throughout the day</li>
    </ul>

    <h2>Our Gurantee:</h2>

    <p>
        All work is 100 percent guaranteed. We want you to be completely  satisfied. 
        We won’t be trying to sell you repairs you don’t need. If we don’t think 
        the work needs to be done, we will tell you. We don’t just want any customers; 
        we want customers for life.
    </p>

    <h2>Our Promise:</h2>

    <p>
        We provide certified technicians who are trained to work on every domestic 
        and foreign vehicle. With our team of technicians – many who have more than 
        20 years of experience – we diagnose the vehicle, provide a fair and 
        affordable estimate with no hidden costs.
    </p>
</div>